@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form>
    <div style="position:relative; width:50%; left:25%; top:90px;">
        <h1 style="text-align:center;">Login</h1>
        <!-- Email input -->
        <div class="form-outline;">
            <label class="form-label" for="emailLogIn">Email address</label>
            <input type="email" id="emailLogIn" class="form-control" />
        </div>
        <br><br>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="passwordLogin">Password</label>
            <input type="password" id="passwordLogin" class="form-control" />
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member?  <a class="text-blue" asp-area="" asp-controller="EmployeeRegister" asp-action="Index">Register</a></p>

        </div>
    </div>
</form>

