@{
    ViewData["Title"] = "Register Account";
}

@model Register

<form method="post">
    <div style="position:relative; width:50%; left:25%; top:90px;">
        <h1 style="text-align:center;">Register</h1>
        <br />
        <div asp-validation-summary="All"></div>
        <!-- Email input -->
        <div class="form-outline mb-4;">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <br />
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <!-- Password retype input -->
        <div class="form-outline mb-4">
            <label asp-for="retypePassword"></label>
            <input asp-for="retypePassword" class="form-control" />
            <span asp-validation-for="retypePassword" class="text-danger"></span>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Register</button>
        <br /><br />
        <a asp-controller="EmployeeSignIn" asp-action="Index" class="btn btn-secondary">
            Back
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
