@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TicketCentr</h1>
    <br /><br />
    <p style="font-size:20px;">TicketCentr is an IT ticketing platform designed for employees to report hardware and software issues to their IT team. In order to connect your tickets with the IT team, you will need to sign up for the platform and submit a unique identifier key provided by your organization.</p>
    <img src="~/TicketIcon.PNG" alt="Ticket Icon" width="280" height="250">
    <br /><br /><br />
    <a style="width:30%;" class="btn btn-lg btn-success" asp-area="" asp-controller="EmployeeSignIn" asp-action="Index">Employee Portal   </a>
    <br /><br />
    <a style="width:30%;" class="btn btn-lg btn-primary" asp-area="" asp-controller="AdminSignIn" asp-action="Index">Admin Portal   </a>
</div>
