@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TicketCentr</h1>
    <br /><br />
    <p style="font-size:20px;">TicketCentr is an IT ticketing system where employees can submit tickets regarding hardware and software issues to their IT team. Sign up and connect your tickets to your IT team by submitting a unique identifier key.</p>
    <img src="~/TicketIcon.PNG" alt="Ticket Icon" width="250" height="250">
    <br /><br /><br />
    <a style="width:30%;" class="btn btn-lg btn-success" asp-area="" asp-controller="EmployeeSignIn" asp-action="Index">Employee Portal   </a>
    <br /><br />
    <a style="width:30%;" class="btn btn-lg btn-primary" asp-area="" asp-controller="AdminSignIn" asp-action="Index">Admin Portal   </a>
</div>
