@{
    ViewData["Title"] = "Admin Sign In";
}

@model Admin

<partial name="_Notification"/>

<form>
    <div style="position:relative; width:50%; left:25%; top:90px;">
        <h1 style="text-align:center;">Administrator Login</h1>
        <br />
        <!-- Email input -->
        <div class="form-outline;">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" />
        </div>
        <br />
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label asp-for="CompanyPassword"></label>
            <input asp-for="CompanyPassword" class="form-control" />
            <p class="text-danger">@ViewBag.ErrorMessage</p>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member?  <a class="text-blue" asp-area="" asp-controller="AdminSignIn" asp-action="Register">Register</a></p>

        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
