@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="_Notification" />

<a asp-controller="AdminSignIn" asp-action="Index" class="btn btn-dark sticky-top col-1">
    Log Out
</a>
<div class="container  p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Manage Your Employees Tickets</h2>
        </div>
    </div>
</div>