@{
    ViewData["Title"] = "Admin Interface";
}

@model Admin

<partial name="_Notification" />

<form>
    <div style="position:relative; width:50%; left:25%; top:100px;">
        <h1 style="text-align:center;">Create a unique identifier key to connect to your employees tickets.</h1>
        <br /><br>
        <input asp-for="CompanyUniqueIdentifer" class="form-control" />
        <br /><br>
        <button style="position:relative; left: 43.5%" type="submit" class="btn btn-primary btn-block">Confirm</button>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}